<!DOCTYPE html>
<html>
<title>La Scroll De Infinitia</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Questrial" rel="stylesheet">
<link rel="stylesheet" href="bootstrap.css">
<link rel="stylesheet" href="font-awesome.css">
<link rel="stylesheet" href="infiniteScroll.css">
<script src="angular.1.6.4.js"></script>
<script src="controller.js"></script>
<body>

<div ng-app="infinitescroll" ng-controller="appController">

<nav class="">
  <div class="restart-play" ng-click="restartPlay()">
    <span class="fa fa-refresh"></span>
    <span></span>
  </div>
</nav>

<div class="list-wrapper">
  <ul class="list">
    <li ng-repeat="feed in allFeeds">
      <div class="user-section">
        <table>
          <tr>
            <td>
              <div class="user-details-section">
                <div class="query-title"><span class="fa fa-hashtag"></span> {{feed.hastag}} </div>
                <div class="query"> {{feed.query}} </div>
                <div class="user-name"><span class="fa fa-user-circle-o"></span> {{feed.username}} </div>
                <div class="time"><span class="fa fa-clock-o"></span> {{feed.time}} </div>
              </div>
            </td>
            <td class="profile-pic">
                <img src="kung-fu-panda.jpg" label="placeholder">
            </td>
          </tr>
        </table>


      </div>
      <div class="description">
        <span class="text">"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
         Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit
          in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
         Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
         "Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore
          veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
          Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam,
           quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui
          in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
        </span>
        <a href="javascript:void(0)" class="read-more" for="readMore" ng-click="showMore($event)">(more)</a>
       </div>
    </li>
  </ul>
</div>

</body>
</html>
