.list{
  width: 50%;
  margin: 0 auto;
}
.list li{
  list-style-type: none;
  list-style-type: none;
  box-shadow: 0px 1px 10px 0px;
  border-radius: 3px;
}
.user-details-section{
  width: 53%;
  display: inline-block;
}
.query-title{
  padding: 0 5px;
  font-size: 22px;
  font-family: fantasy;
  margin-bottom: 55px;
}
.user-name{
  padding: 0 10px;
  font-size: 17px;
  font-family: monospace;
}
.profile-pic{
  width: 46%;
  display: inline-block;
}
.profile-pic img{
  width: 100%;
  height: auto;
}
.description{
  padding: 10px 15px;
}
